include pyproject.toml
include *.md
include *.sh
include *.ps1
include LICENSE
recursive-include src *
recursive-include src/django_simple_third_party_jwt_dev_dashboard/templates *
recursive-include src/django_simple_third_party_jwt_dev_dashboard/statics *
recursive-include tests test*.py
recursive-include example *